%div{:class => "add_sched_info"}  
    %br
    %h2 Add Administrator
    = form_for @user do |f|
        %table{:class => "student_table"}
            %tr
                %th First Name
                %th Last Name
                %th TAMU Email
                %th UIN
            %tr
                %th
                    = f.text_field :firstname
                %th
                    = f.text_field :lastname
                %th
                    = f.text_field :email
                %th
                    = f.text_field :uin
        = f.submit "Create", :class => 'button_link'
        = link_to "Cancel", view_term_admin_path, :class => 'button_link'