%h1 Manage Cohorts
%div{:class => "cohort_frame"}
    %div{:class => "custom_drop_down"}
        %input{:type => "checkbox", :id => "1"}
        %label{:for => "1"} Cohort 1
        = link_to 'Delete', "", :class => 'right_button_link'
        %table{:class => "student_table"}
            %tr
                %th First Name
                %th Last Name
                %th TAMU Email
                %th UIN
                %th
                %th
            - 31.times do
                %tr
                    %td Lauren
                    %td Haylock
                    %td laurenrhaylock@tamu.edu
                    %td 725000950
                    %td 
                        = link_to "Edit", "", :class => 'button_link'
                    %td 
                        = link_to "Delete", "", :class => 'button_link'
    %div{:class => "custom_drop_down"}
        %input{:type => "checkbox", :id => "2"}
        %label{:for => "2"} Cohort 2
        = link_to 'Delete', "", :class => 'right_button_link'
        %table{:class => "student_table"}
            %tr
                %th First Name
                %th Last Name
                %th TAMU Email
                %th UIN
                %th
                %th
            - 31.times do
                %tr
                    %td Lauren
                    %td Haylock
                    %td laurenrhaylock@tamu.edu
                    %td 725000950
                    %td 
                        = link_to "Edit", "", :class => 'button_link'
                    %td 
                        = link_to "Delete", "", :class => 'button_link'
    %div{:class => "custom_drop_down"}
        %input{:type => "checkbox", :id => "3"}
        %label{:for => "3"} Cohort 3
        = link_to 'Delete', "", :class => 'right_button_link' 
        %table{:class => "student_table"}
            %tr
                %th First Name
                %th Last Name
                %th TAMU Email
                %th UIN
                %th
                %th
            - 31.times do
                %tr
                    %td Lauren
                    %td Haylock
                    %td laurenrhaylock@tamu.edu
                    %td 725000950
                    %td 
                        = link_to "Edit", "", :class => 'button_link'
                    %td 
                        = link_to "Delete", "", :class => 'button_link'
%div{:class => 'centered_links'}   
    //****Change later
    = link_to "Create New Cohort", '/addcohort', :class => 'button_link'
    = link_to "Back to Home", view_term_admin_path, :class => 'button_link'