%div{:class => 'centered_links'}
    %h1 Open Fall 2020 Student Input

    = form_tag view_term_admin_path do 
        = label :term_open_range, :starts_at_date, "Start Date:"
        = text_field :term_open_range, 'open_date', placeholder: "MM/DD/YYYY"
        = label :term_open_range, :starts_at_time, "Start Time:"
        = text_field :term_open_range, 'open_time', placeholder: "0:00 - 23:59"
        %p
        = label :term_open_range, :starts_at_date, "End Date:"
        = text_field :term_open_range, 'end_date', placeholder: "MM/DD/YYYY"
        = label :term_open_range, :starts_at_time, "End Time:"
        = text_field :term_open_range, 'end_time', placeholder: "0:00 - 23:59"

%div{:class => 'centered_links'}
    = link_to "Save", view_term_admin_path, :class => 'button_link'
    = link_to "Cancel", view_term_admin_path, :class => 'button_link'
        