%div#manageAdministratorDiv
    = javascript_include_tag 'application'
    %h1{:style => "text-align:center"} Student Actions
    
    %ul
    - @actions.each do |action|
        %div#studentActionItem
            = action.action == 1 ? image_tag("trash.png", class: "icon", alt: "trash") : image_tag("add.png", class: "icon", alt: "add")
            %span#studentActionStudentName #{action.user.firstname + ' ' + action.user.lastname}
            %span#studentActionAction #{action.action == 0 ? ' created ' : action.action == 1 ?' deleted ' : 'edited '}
            %span schedule
            %span#studentActionScheduleName #{' "'+ action.schedule_name + '" '}
            %span#studentActionDate #{action.readable_date}
            
    %br
    %br
    = link_to "Back to Home", view_term_admin_path, :class => 'button_link'