%div#viewCohortDiv
    %h1{:style => "text-align:center"} #{@cohort.name}
    %table#resultTable
        %tr
            %th#specialTableHeader Name
            %th#specialTableHeader Schedules Added
        - @users.each do |user|
            %tr
                %td#specialTableData #{user.firstname} #{user.lastname}
                %td#specialTableData
                    - if (user.schedules != [])
                        Yes
                    - else
                        No
%div#viewCohortDiv
    = link_to "Find Class Time" , view_result_path(@cohort.id), :class => 'button_link'
    = link_to "Back to Home", view_term_admin_path, :class => 'button_link'