%div{:class => 'add_sched_info'}
    %br
    %h2 #{@cohort.name}
    %table{:class => "cohort_table"}
        %tr
            %th Name
            %th Schedules Added
        - @users.each do |user|
            %tr
                %td #{user.firstname} #{user.lastname}
                %td 
                    - if (user.schedules != [])
                        Yes
                    - else
                        No
    
%div{:class => 'centered_links'}

    = link_to "Find Class Time" , view_result_path, :class => 'button_link'
    = link_to "Back to Home", view_term_admin_path, :class => 'button_link'