!!!
%html
  %head
    %title Conflicted Detail
  %body
    %h1{:style => "text-align:center"} Conflicted Time Slot Details
    %div#tableWrapper
      %table#conflictTable
        %tr
          %th#specialTableHeader Student Name
          %th#specialTableHeader Course
          %th#specialTableHeader Section
          %th#specialTableHeader Time
          %th#specialTableHeader Mandatory
        -@final_result.each do |result|
          %tr
            %td#specialTableData #{result[0]}
            %td#specialTableData #{result[1]}
            %td#specialTableData #{result[2]}
            %td#specialTableData #{result[3]}
            %td#specialTableData #{@mandatory_dict[result[4]]}
    = button_to "Back", view_result_path(@cohort.id), method: :get, form_class: "backbtn"
    // = link_to 'Return to Result Page', 'javascript:history.go(-1);', class: "specialBack"