%html
  %head
    // %link{:href => "specialTable.css", :rel => "stylesheet"}
    %title Admin View Result
  %body
    %h1{:style => "text-align:center"} Algorithm Result
    %h3{:style => "text-align:left"} Non-conflicted Time Slots
    %div#tableWrapper
      %table#resultTable
        %tr
          %th#specialTableHeader Day
          %th#specialTableHeader Time
          %th#specialTableHeader Cost
          %th#specialTableHeader Option
        -@results.each do |result|
          %tr
            %td#specialTableData #{@date_dict[result.day]} 
            %td#specialTableData #{result.time.strftime("%H:%M")} - #{result.time.advance(:hours => 2).strftime("%H:%M")}
            %td#specialTableData #{result.cost}
            %td#specialTableData
              = button_to "Choose", select_time_path(@cohort.id,result.id), method: :post, form_class: "choosebtn"

    %h3{:style => "text-align:left"}Conflicted Time Slots
    %div#tableWrapper
      %table#conflictTable
        %tr
          %th#specialTableHeader Day
          %th#specialTableHeader Time
          %th#specialTableHeader Cost
          %th#specialTableHeader Option

        -@conflicts.each do |conf|
          %tr
            %td#specialTableData #{@date_dict[conf.day]} 
            %td#specialTableData #{conf.time.strftime("%H:%M")} - #{conf.time.advance(:hours => 2).strftime("%H:%M")}
            %td#specialTableData #{conf.cost}
            %td#specialTableData
              = button_to "Details", view_conflicts_path(@cohort.id, conf.id), method: :get, form_class: "detailbtn"
    %p{:style => "text-align:right"}
      = link_to "Back", view_cohort_semester_path(@cohort.id), :class => 'button_link'