<div class= "add_stud_info">
<p id="notice"><%= notice %></p>

  <br>
<h1 style = "color:black;">Import From Excel</h1>
<p style="color:red;"><b>Note</b>: Please make sure the excel sheet has the columns in the following order: Name, UIN, Email, Classcode, Major </p> 
 <%= form_tag import_from_excel_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", :class=> "btn"%>
<% end %>
<br>
<h1 style = "color:black;">Student List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uin</th>
      <th>Email</th>
      <th>Classcode</th>
      <th>Major</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adminstudrecs.each do |adminstudrec| %>
      <tr>
        <td><%= adminstudrec.name %></td>
        <td><%= adminstudrec.uin %></td>
        <td><%= adminstudrec.email %></td>
        <td><%= adminstudrec.classcode %></td>
        <td><%= adminstudrec.major %></td>
        <td><%= link_to 'Show', adminstudrec %></td>
        <td><%= link_to 'Edit', edit_adminstudrec_path(adminstudrec) %></td>
        <td><%= link_to 'Destroy', adminstudrec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adminstudrec', new_adminstudrec_path %>
<br>
<%= link_to 'Manage cohorts', manage_cohorts_path %>
<br>
<%= link_to 'Log out', logout_path, method: "delete" %>
</div>