!!! 5
%html
  %head
    %title ZLP Class Scheduler
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %body
      %nav
        %ul
          - if logged_in?
            %li{:style => "list-style-type: none;"}= link_to "Log out", logout_path, method: "delete", :class => 'topright'
          // - else
          //   %h1{:style => "text-align:center"} Howdy!
      %header.header_div
        = link_to image_tag("tamu_zlp_logo.png", class: "header", alt: "Tamu zlp logo"), "/"
      %div.container
        %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
        #main
        - if flash[:notice]
          %div#notice
            #notice.message= flash[:notice]
        - elsif flash[:warning]
          %div#warning
            #warning.message= flash[:warning]
        = yield