%table#studentScheduleTable
    %tr
        %th#specialTableHeader Dept.
        %th#specialTableHeader Course Num.
        %th#specialTableHeader Section
        %th#specialTableHeader{:class => 'tooltip'} 
            Mandatory
            %span{:id => 'viewScheduleToolTip'} Check if you MUST take the course THIS semester to be on track for graduation.
    %tr{:class => "sched_table_row"}
        %td#specialTableData
            = collection_select(nil, :dept_id_1,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[0]}, {:id => 'dept_select_1'})
        %td#specialTableData
            = collection_select(nil, :course_num_id_1, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_1'})
        %td#specialTableData
            = collection_select(nil, :section_num_id_1, @section_options, :id, :course_number, {:include_blank => true}, {:id => 'section_num_select_1'})
        %td#specialTableData
            = check_box_tag :mand_1, 'yes', @cur_mand.nil? ? nil : @cur_mand[0]
    %tr{:class => "sched_table_row"}
        %td#specialTableData
            = collection_select(nil, :dept_id_2,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[1]}, {:id => 'dept_select_2'})
        %td#specialTableData
            = collection_select(nil, :course_num_id_2, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_2'})
        %td#specialTableData
            = collection_select(nil, :section_num_id_2, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_2'})
        %td#specialTableData
            = check_box_tag :mand_2, 'yes', @cur_mand.nil? ? nil : @cur_mand[1]
    %tr{:class => "sched_table_row"}
        %td#specialTableData
            = collection_select(nil, :dept_id_3,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[2]}, {:id => 'dept_select_3'})
        %td#specialTableData
            = collection_select(nil, :course_num_id_3, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_3'})
        %td#specialTableData
            = collection_select(nil, :section_num_id_3, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_3'})
        %td#specialTableData
            = check_box_tag :mand_3, 'yes', @cur_mand.nil? ? nil : @cur_mand[2]
    %tr{:class => "sched_table_row"}
        %td#specialTableData
            = collection_select(nil, :dept_id_4,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[3]}, {:id => 'dept_select_4'})
        %td#specialTableData
            = collection_select(nil, :course_num_id_4, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_4'})
        %td#specialTableData
            = collection_select(nil, :section_num_id_4, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_4'})
        %td#specialTableData
            = check_box_tag :mand_4,'yes', @cur_mand.nil? ? nil : @cur_mand[3]
    %tr{:class => "sched_table_row"}
        %td#specialTableData
            = collection_select(nil, :dept_id_5,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[4]}, {:id => 'dept_select_5'})
        %td#specialTableData
            = collection_select(nil, :course_num_id_5, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_5'})
        %td#specialTableData
            = collection_select(nil, :section_num_id_5, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_5'})
        %td#specialTableData
            = check_box_tag :mand_5, 'yes', @cur_mand.nil? ? nil : @cur_mand[4]
    %tr{:class => "sched_table_row"}
        %td#specialTableData
            = collection_select(nil, :dept_id_6,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[5]}, {:id => 'dept_select_6'})
        %td#specialTableData
            = collection_select(nil, :course_num_id_6, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_6'})
        %td#specialTableData
            = collection_select(nil, :section_num_id_6, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_6'})
        %td#specialTableData
            = check_box_tag :mand_6, 'yes', @cur_mand.nil? ? nil : @cur_mand[5]
    %tr{:class => "sched_table_row"}
        %td#specialTableData
            = collection_select(nil, :dept_id_7,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[6]}, {:id => 'dept_select_7'})
        %td#specialTableData
            = collection_select(nil, :course_num_id_7, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_7'})
        %td#specialTableData
            = collection_select(nil, :section_num_id_7, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_7'})
        %td#specialTableData
            = check_box_tag :mand_7, 'yes', @cur_mand.nil? ? nil : @cur_mand[6]
