
%div{:class => "add_sched_info"}  
    %br
    %h2 Add Schedule for #{@term.name}
    = form_for @schedule do |f|
        %label{:for => "sched_name"} Schedule Name:
        %input{:type => "text", :id => "sched_name"}
        %table{:class => "sched_table"}
            %tr
                %th Dept.
                %th Course Num.
                %th Section
                %th{:class => 'tooltip'} 
                    Mandatory
                    %span{:class => 'tooltiptext'}Check if you MUST take the course THIS semester to be on track for graduation.
            - 7.times do
                %tr{:class => "sched_table_row"}
                    %td
                        = select_tag "dept", options_for_select(@subject_options), :include_blank => true
                    %td
                        = select_tag "course_num", :include_blank => true, id: 'course_num'
                    %td
                        = select_tag "section_num", :include_blank => true, id: 'section_num'
                    %td
                        %input{:type => "checkbox"}
%div{:class => 'centered_links'}   
    //****Change later
    = link_to "Save Schedule", view_terms_path, :class => 'button_link'
    = link_to "Cancel", view_terms_path, :class => 'button_link'
        
    
