%div{:class => "add_sched_info"}  
    %br
    %h2 #{@schedule.name}
    %table{:class => "sched_table"}
        %tr
            %th Dept.
            %th Course Num.
            %th Section
            %th{:class => 'tooltip'} 
                Mandatory
                %span{:class => 'tooltiptext'}Check if you MUST take the course THIS semester to be on track for graduation.
        - @courses.each do |course|
            %tr{:class => "sched_table_row"}
                %td #{course.abbreviated_subject}
                %td #{course.course_number}
                %td #{course.section_number}
                %td #{(@associations.find_by course_id: course.id).mandatory}
    = link_to "Back to Home", view_terms_path, :class => 'button_link'