%h1 Howdy, #{@user.firstname}!

%div{:class => "term_frame"}
    %div{:class => "header_div"}
        %h2{:class => 'term_header'} #{@term.name}
            
    %ul{:class => "schedules"}
        - @schedules.each do |s|
            %li
                &#9776; &emsp; 
                = link_to s.name, view_schedule_path(s), method: :get, :class => 'button_link'
                = link_to 'Delete', delete_schedule_path(s), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'right_button_link'
    = link_to 'Add Schedule', add_schedule_path, :class => 'button_link'