<div class= "topright" style="color: #ffffff;">
<p>Already have an account? <%=  link_to "Sign in", '/login', style: 'color:white;' %></p>
</div>

<div class= "Register_Form">
    <h1>Create Account </h1>
    <%= form_for(@user) do |f| %>  
     <div class="field"> 
      Are you a student? 
      <%= f.radio_button :role, 'student', :required => true %>
      <%= f.label :role_student, 'Yes' %>
      <%= f.radio_button :role, 'admin', :required => true %>
      <%= f.label :role_admin, 'No' %>
       </div>
      <br>
      
      UIN<br> <%= f.number_field :uin, :size => 10, :class => "Input_Medium", :required => true %><br />
      <br>Last name<br> <%= f.text_field :lastname, :size => 20, :class => "Input_Medium", :required => true %><br />
      <br>First name<br> <%= f.text_field :firstname, :size => 20, :class => "Input_Medium", :required => true %><br />
      <br>Email<br> <%= f.text_field :email, :placeholder => "netid@tamu.edu", :pattern => ".+@tamu.edu", :title => "Only tamu email id", :size => 30, :class => "Input_Medium", :required => true %><br />
      <br>Password<br> <%= f.password_field :password, :size => 30, :class => "Input_Medium", :required => true %><br />
      <br>Retype Password<br> <%= f.password_field :password_confirmation, :size => 30, :class => "Input_Medium", :required => true %><br />
   
   <br>
  <div class="actions"> 
    <%= f.submit "Sign up", class: "btn-submit" %> 
  </div> 
<% end %> 

  <div class= "errors">
        <% if flash[:register_errors]%>
            <% flash[:register_errors].each do |error| %>
                <p> <%= error%> </p>
            <%end%>
        <%end%>
    </div>
</div>
  